<br>
<h1>Welcome to ELTE's pet web page!</h1>
<br>
<ng-container>
  <div>
    <p>
      <font size="3">
        As you can see we have a navigation bar with some elements:
      </font>
    </p>
    <ul>
      <li>
          <font size="3">
            Pets: It is the brand of the application and it navigates to the main page, this one.
          </font>
        </li>
      <li>
          <font size="3">
            It navigates to the pets list where you can see all the pets and their data stored in the database. There is also a button to edit each and every pet and another button to add a new pet.
          </font>
      </li>
      <li>
          <font size="3">
            About: It shows the details of the author.
          </font>
      </li>
    </ul>
  </div>
  <div>
    <p style="text-align:center;">
      <img src="http://www.stanhopevillage.com.au/uploadedImages/stanhope.retail.mirvac.com/Content/Stores/Pets.jpg" alt="Family pet" width="550" height="200">
    </p>
  </div>
  <div>
    <p style="text-align:center;">
      <img src="https://kassi13.files.wordpress.com/2013/09/images-24.jpeg" alt="Family pet" width="350" height="150">
    </p>
  </div>
  <div>
    <h2>Interesting data</h2>
    <p>
      <font size="3">
        You have {{ alive }} pets. And you said goodbye to {{ dead }} pets.
      </font>
    </p>
  </div>
</ng-container>